.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
  }
  

  
  .about-description {
    margin-top: 10px;
    line-height: 1.5;
    color: #666;
  }
  