.comments {
    margin-top: 20px;
  }
  
  .comment {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .comment .comment-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .comment .comment-content {
    flex-grow: 1;
    margin: 0;
  }
  
  .comment .comment-author {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }