.home-container {
  display: flex;
  width:100vw;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.timeline {
  order: 2;
  margin-left: 25vw;
  margin-right: 20vw;
  width: 70vw;
  flex: 3;
  background-color: #f1f1f1;
  padding: 20px;
}

.timeline h2 {
  font-size: 24px;
  color: #333;
}

.sidebar {
  order: 1;
  width: 20vw;
  position: fixed;
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.profile-link {
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
}

.profile-link h3 {
  font-size: 20px;
  color: #333;
}

.profile-link p {
  margin-top: 10px;
  color: #666;
}

.profile-link button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.requests {
  background-color: #f1f1f1;
  padding: 20px;
}

.requests h3 {
  font-size: 20px;
  color: #333;
}

