.login-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 2vh;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border:2px solid #9eeaa2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  .ababa{
    width: 50px;
    background-color: aqua;
    margin-bottom: 10px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin:auto;
  }
  
  .submitt {
    width: 60%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:15px;
  }
  
  .submitt:hover {
    background-color: #4c9b50;
  }