nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 25px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
  }
  nav ul li a:hover {
    color: #CEC8C6;
  }
  #navbar {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center; 
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 999;
  }
  #navbar.fixed {
    position: fixed;
    top: 0;
    width:100%
  }
  
  
  #icon{
    margin-right: 5px;
    color:black;
  }
  .search-barnav {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    height: 20px; /* Adjust the height as needed */
    padding: 5px;
  }
  
  .search-input {
    
    height: 20px;
    border: none;
    outline: none;
    flex-grow: 1;
    background-color: transparent;
  }
  
  .search-icon {
    border: none;
    margin-left: 5px;
    color: #888;
  }
  .search-icon:hover{
    cursor: pointer;
  }
  #not-found::placeholder {
    content: "No results found";
    color: red;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-contentnav {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: block;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .dropdown-content.show {
    display: block;
  }
  
  
  
  
  