.partnership {
    display: flex;
    align-items: center;
    background-color: aqua;
    border: 1px solid saddlebrown;
    border-radius: 10px;
    color: #000;
    width: 100px;
    height: 50px;
    margin-bottom: 20px;
  }
  
  .partnership-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .partnership-info {
    flex-grow: 1;
  }
  
  .partnership-name {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .partnership-description {
    font-size: 0.9rem;
    color: #555;
  }
  