.post {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-content {
  margin-bottom: 20px;
}
.post-like{
  margin-left: 45px;
}
.post-comments {
  display: none; 
  
}
.post-comments.show {
  display: block; /* Show the comments section when the "show" class is added */
  height:100%;
  max-height: 200px; /* Adjust this height as needed */
  overflow-y: scroll;
  background-color: #ccc;
  padding: 7px;
  padding-right: 7px; /* Add space for the scrollbar */
  margin-top: 10px;
}
.post-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post-add-comment{
  display: none;
}
.post-add-comment.show {
  display: block;
}
.condWrapper{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.comment-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.add-comment-button {
  padding: 8px 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-comment-button:hover {
  background-color: #2980b9;
}

.comments::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.comment {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment .comment-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.comment .comment-content {
  flex-grow: 1;
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  margin: 0;
}

.comment .comment-author {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.post-stats{
  margin-top: 15px;
}
.post-options:hover{
  cursor: pointer;
}
.post-profile{
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.post-username{
  margin-left:10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  margin-bottom: 1px;
}
.posts-content{
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-author{
  margin-top:0;
  margin-left: 10px;
}
.post-dropdown-options{
  position:absolute;
  top: 0%;

}
.post-footer{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
}
.post-stats{
  margin-top: 0px;
}
.post-actions{
  display:flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.comments{
  background-color: white;
  margin:5px;
  
  border-radius: 5px;
}