.postie-container {
  width: 100%;
  border: 1px solid #18b79c;
  border-radius: 5px;
  background-color: #a55110;
  overflow: hidden;
  margin-bottom: 10px;
}

.postie {
  display: flex;
  flex-direction: column ;
  padding: 10px;
}

.postie-header {
  flex:0;
  display: flex;
  gap:15px;
  flex-direction: row;
  margin-bottom: 10px;
}

.postie-title {
  flex: 0;
  font-size: 18px;
  font-weight: bold;
}

.postie-author {
  flex:1;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

.postie-footer {
  flex:1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postie-likes,
.postie-comments {
  font-size: 14px;
}

/* Adjust the styling as per your requirements */
