.profile-page {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .sidebar-left {
    flex: 0 0 200px;
    position: fixed;
    width: 13.5vw;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .sidebar-right {
    flex: 0 0 200px;
    background-color: #f2f2f2;
    position: fixed;
    margin-left: 88vw ;
    border-radius: 10px;
    padding: 20px;
  }
  .sidebar-right button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .sidebar-section {
    margin-bottom: 20px;
  }
  
  .bubble {
    background-color: #ffffff;
    width: 50%;
    margin:auto;
    margin-bottom: 15vh;
    margin-top: 15vh;
    margin-left: 11vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .bubble-section {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .bubble-section:hover {
    cursor: pointer;

  }
  .main-content {
    display: inline-block;
    margin-left: 17.5vw;
    flex: 1;
    padding: 20px;
  }
  
  .header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    margin-bottom: 20px;
  }
  
  .website-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .search-bar {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    height: 20px; /* Adjust the height as needed */
    padding: 5px;
  }
  
  .search-input {  
    height: 20px;
    border: none;
    outline: none;
    flex-grow: 1;
    background-color: transparent;
  }
  
  .search-icon {
    border: none;
    color: #888;
  }
  .search-icon:hover{
    cursor: pointer;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .profile-bio {
    width: 50%;
    margin:auto;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .posts {
    margin-bottom: 5vh;
    background-color: #f1f1f1;/* Post styling */
  }
  
  .sidebar-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .profile-content {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .contact-bar {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .contact-icon {
    height:5vh;
    font-size: 24px;
    color: #555;
    margin: 0 10px;
    text-decoration: none;
  }
  .new-post-container {
    width: 50%;
    margin: auto;
    margin-left: 11vw;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .new-post-input {
    width: 90%;
    min-height: 100px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .submit-button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 80%;
  }
  .notification {
    position: fixed;
    top: 52%;
    left: 74.5%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 3.1s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      background-color: rgb(183, 159, 127);
      transform: translateY(-20px);
    }
    50% {
      opacity: 1;
      background-color: #D0ACDB;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      background-color: rgb(183, 159, 127);
      transform: translateY(-20px);
    }
  }
  .dropdown-content{
    background-color: #ffffff;
    border-radius: 10px;
    height: 50vh;
    padding:10px;
  }
  .encapsule{
    flex:0;
  }
  .dropdown-contentProfile{
    background-color:white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    flex:1;
  }
  .Topic{
    height: 20px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 8px;
    margin-left:15px;
  }
  .shortDesc{
    height: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .ssearch-option1{
    display: inline;
    margin-bottom: 20px;
  }
  .ssearch-option2{
    display: inline;
    margin-bottom: 20px;
  
  }