.request {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .request-header {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  .request-description {
    margin: 20px 0;
  }
  
  .request-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .request-button {
    padding: 5px 10px;
  }
  