.search-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
  
  .search-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-option-button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #e9e9e9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-sections {
    display: flex;
  }
  
  .search-section {
    flex: 1;
    margin: 0 10px;
  }
  
  .search-section-left {
    background-color: #c2e6cd;
    padding: 20px;
    overflow: hidden;
    max-height: 140px;
    max-width: 200px;
    overflow-y: auto;
  }
  
  .search-section-right {
    display: flex;
    flex-direction: column;
    background-color: #d9b1b1;
    padding: 20px;
    overflow: hidden;
    max-height: 140px;
    max-width: 400px;
    overflow-y: auto;
  }
  
  .search-subsection1 {
    margin-bottom: 20px;
  }
  .search-subsection2 {
    margin-bottom: 20px;
    display: inline-block;
  }
  
  .search-subsection h2 {
    margin-bottom: 10px;
  }
  .separator{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .separator:hover{
    cursor: pointer;
  }
  /* Add additional styles as needed */
  .radio{
    flex:0;
    display: flex;
    flex-direction: row;
  }
  .search-option1{
    flex:0;
  }
  .search-option2{
    flex: 1;
  }
  .separatorpost:hover{
    cursor: pointer;
  }