.partnership-list {
    margin: 20px;
  }
  
  .partnership-list h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .partnership-count {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .partnership-container {
    display: flex;
    flex-direction: column;
  }
  
  .partnership {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: #000;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .partnership-info {
    flex-grow: 1;
  }
  
  .partnership h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .partnership p {
    margin: 0;
  }
  
  .partnership-actions {
    /* Add styling for partnership actions/buttons */
  }
  