body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    display: flex; /* Add flex display */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .container {

    width: 25vw;
    max-width: 400px;
    margin: auto;
    margin-top: 2vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border:2px solid #9eeaa2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    

  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    width: 40%;
    margin:auto;
    margin-top: 1vh;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  