/* SingleUser.css */
.singleuserprofile-page {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .singleuserprofile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .singleuseravatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .singleuserusername {
    margin-top: 10px;
    font-size: 24px;
  }
  
  .singleuseremail {
    color: #888;
    margin-top: 5px;
  }
  
  .singleuserprofile-content {
    margin-top: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  .reqPartner{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  