.user {
    display: flex;
    align-items: center;
    border-radius: 5px;
    max-height: 100px;
    background-color: beige;
    padding:5px;
    color: #000;
  }

  .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .username {
    font-size: 16px;
    font-weight: bold;
  }
.separator{
   
}
  