/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 2000;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
}


/* Hero section */
.hero {
  width: 75vw;
  margin: auto;
  background-image: url('../bg.jpg');
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
  padding: 100px 0;
}


.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Features section */
.features {
  padding: 50px 0;
  text-align: center;
}

.features h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.feature-card {
    display: inline-block;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #ece8e8;
    border-radius: 5px;
    border: 2px solid #ece8e8;
    text-align: center;
  }
  
  .feature-card img {
    border-radius: 125px;
    height: 20vh;
    width: 20vh;
    max-height: 200px;
    max-width: 200px;
    margin-bottom: 10px;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }